<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum rerum est
    velit rem voluptatibus odit dolor, inventore dolorem culpa accusantium?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Elon Musk</h3>
        <p class="quote__organization">Businessman</p>
      </div>
    </div>
  </footer>
</blockquote>
